MONGODB_URI="your MongoDB connection URI"
AVIATIONSTACK_KEY="aviation stack API key"



AIRPORT_SERVICE_PORT=5001
FLIGHT_SERVICE_PORT=5002
FLIGHT_TRACKING_SERIVCE_PORT=5003
WEB_SOCKET_CONNECTION_PORT=5005


MONGODB_URI="mongodb://127.0.0.1:27017"
MONGODB_DATABASE_NAME="opensky_dataset"


REDIS_URL="redis://localhost:6379"
UPDATE_FLIGHT_LOCATION_EVENT ="update-flight-location"
MONGODB_LOCAL_URI="mongodb://127.0.0.1:27017/opensky_dataset"
MONGODB_DATABASE_NAME="opensky_dataset"
CLIENT_ID="opensky client id"
CLIENT_SECRET="opensky client secret"
TOKEN="token from open sky after login"

# Live dashboard FLIGHT_SERVICE_PORT
LIVE_DASHBOARD_EXTERNAL_API=""
LIVE_DASHBOARD_SERVICE_PORT_NUMBER=
