MONGODB_URI="your MongoDB connection URI"
AVIATIONSTACK_KEY="aviation stack API key"



AIRPORT_SERVICE_PORT=5001
FLIGHT_SERVICE_PORT=5002
FLIGHT_TRACKING_SERIVCE_PORT=5003
WEB_SOCKET_CONNECTION_PORT=5005


MONGODB_URI="mongodb://127.0.0.1:27017"
MONGODB_DATABASE_NAME="opensky_dataset"